<div class="login-inner">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-6 offset-xl-3 col-lg-10 offset-lg-1 col-sm-12">
        <h5 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          Authentication Demo
          <i class="fa fa-circle text-warning"></i>
        </h5>
        <section>
              <header class="hidden-sm">
                  <h4>Angular Asp.Net Core application</h4>
              </header>

              <div class="row" *ngIf="!currentUser">
                  <div class="col-sm-6">
                      <p *ngIf="!loginFailed">
                          Use your email address to sign-in
                      </p>
                      <p class="text-danger" *ngIf="loginFailed">
                          <i class="fa fa-warning fa-fw"></i> Email and password do not match
                      </p>
                      <form [formGroup]="loginForm" class="login-form mt-lg mb-sm" (ngSubmit)="loginWithUserName(loginForm.value)" novalidate>
                          <div class="form-group">
                              <input type="email" class="form-control" placeholder="UserName" name="UserName" formControlName="userName">
                          </div>
                          <div class="form-group">
                              <input class="form-control" type="password" placeholder="Password" name="Password" formControlName="password">
                          </div>

                          <div class="row">
                              <div class="col-md">
                                <div class="abc-checkbox pull-xs-right">
                                    <input type="checkbox" id="rememberMe" formControlName="rememberMe">
                                    <label for="rememberMe">Remember me</label>
                                </div>
                              </div>                              
                              <div class="col-md">
                                <button type="submit" class="btn btn-primary pull-right">
                                    <i class="fa fa-sign-in fa-fw"></i>
                                    Login
                                </button>
                              </div>
                          </div>
                      </form>                      
                  </div>
                  <div class="col-sm-6">
                      <hr class="hidden-sm-up"/>
                      <p>
                          <strong>or</strong> use Facebook, Google or Twitter to sign in.
                      </p>

                      <div class="text-xs-center">
                          <a class="btn bg-facebook-blue text-white btn-partner" (click)="loginWithFacebook()">
                              <i class="fa fa-facebook-official fa-lg fa-fw m-r-5"></i>
                              Continue with Facebook
                          </a>
                      </div>

                      <div class="text-xs-center">
                          <a class="btn bg-google-plus-red text-white btn-partner" (click)="loginWithGoogle()">
                              <i class="fa fa-google-plus-official fa-lg fa-fw m-r-5"></i>
                              Continue with Google
                          </a>
                      </div>

                      <div class="text-xs-center">
                          <a class="btn bg-twitter-blue text-white btn-partner"  (click)="loginWithTwitter()">
                              <i class="fa fa-twitter fa-lg fa-fw m-r-5"></i>
                              Continue with Twitter
                          </a>
                      </div>
                  </div>
              </div>

            <br />
            <br />
            <br />


            <div *ngIf="currentUser">

                <pre>{{currentUser | json}}</pre>

                <br />
                <br />

                <button type="button" class="btn btn-danger pull-right" (click)="logout()">
                    <i class="fa fa-sign-in fa-fw"></i>
                    Log Out
                </button>               

            </div>
          </section>
      </div>
    </div>
  </main>
</div>